<!DOCTYPE html>
<html>
<head>
	<title>TensorflowJs</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"> </script>
	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.0"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" type="image/jpg" href="../../public/Images/logo.jpg">
    <link rel="stylesheet" type="text/css" href="../../public/style/main.css">
</head>

<style>
	canvas{
		margin-left: 0;
	}
</style>

<body>

	<nav class="navbar navbar-custom">
	  <div class="container-fluid">
	      <a class="navbar-brand" href="../../index.html" style="margin-left: 40%;color: white;">Machine Learning In The Browser</a>

	      <div class="dropdown">
			  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="float: left;margin-top: 8px;margin-left: 400px;background: #EB984E;">ML In Browser Set
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu" style="float: left;margin-top: 45px;margin-left: 1220px;background: #EB984E;color: white;">
			    <li><a href="../../views/VCYOLO.html"><center>Web Cam Classifier (YOLO)</center></a></li>
			    <li><a href="../../views/VCMOBNET.html"><center>Web Cam Classifier (MOBILE NET)</center></a></li>
			    <li><a href="../../views/ICMOBNET.html"><center>Image Classifier (MOBILE NET)</center></a></li>
			    <li><a href="../../views/LSTM.html"><center>LSTM (Pre-Trained)</center></a></li>
			    <li><a href="../../views/POSENET.html"><center>Pose Net WebCam (Pre-Trained)</center></a></li>
			    <li><a href="../../views/STYTRANS.html"><center>Style Transfer (Pre-Trained)</center></a></li>
			    <li><a href="../../views/SKETCHRNN.html"><center>Sketch RNN (Pre-Trained)</center></a></li>
			    <li><a href="../../views/VMODAL.html"><center>Video Modalling (Interactive Learning)</center></a></li>
			    <li><a href="../../views/FEATEXT.html"><center>Feature Extractor (Interactive Learning)</center></a></li>
			    <li><a href="../../views/Interactive-Regression/"><center>Interactive Regression (Interactive Training)</center></a></li>
			    <li><a href="../../views/Color_Classifier/"><center>Color Classifier (Browser Training)</center></a></li>
			    <li><a href="../../views/Dynamic-Regression/"><center>Dynamic Regression (Browser Training)</center></a></li>
			    <li><a href="../../views/Regression/1d/"><center>1-D Regression (Browser Training)</center></a></li>
			    <li><a href="../../views/Regression/2d/"><center>2-D Regression (Browser Training)</center></a></li>
			    <li><a href="../../views/Regression/3d/"><center>3-D Regression (Browser Training)</center></a></li>
			    <li><a href="../../views/Wine Quality/"><center>Wine Quality Predictor (Browser Training)</center></a></li>
			    <li><a href="../../views/XOR/"><center>XOR (Browser Training)</center></a></li>
			  </ul>
	   	   </div>
	  </div>
	</nav>

	<div class="col-md-12">
		<h2 style="text-align: center;"><u>Interactive Regression</u></h2>
	</div>

	<div class="col-md-12" style="margin-top: 20px;">
		<center>
		<table class="table" style="width: 1000px;">
			<tr>
				<td>
					<p class="form-control" style="text-align: center;">X : </p>
				</td>
				<td>
					<input type="number" id="x" class="form-control">
				</td>
				<td>
					<p class="form-control" style="text-align: center;">Y : </p>
				</td>
				<td>
					<input type="number" id="y" class="form-control">
				</td>
				<td>
					<input type="button" id="append" value="submit" class="btn btn-primary">
				</td>
			</tr>
		</table>
	</center>
	</div>

	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div style="padding:10px">
	        <canvas id="myChart"></canvas>
	    </div>		
	</div>
	<div class="col-md-2"></div>


</body>
<script type="text/javascript" src="./app.js"></script>

</html>
